<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/main_page.js' %}"></script>
    <title>Истории</title>
</head>
<body>
    <header>
        {% if not user.is_authenticated %}
            <a href="{% url 'register' %}">Зарегистрироваться</a>
            <a href="{% url 'login' %}">Войти</a>
        {% else %}
            <span>{{ user.get_full_name }}</span>
            <a href="{% url 'logout' %}">Выйти</a>
        {% endif %}
    </header>

    {% if user.is_authenticated %}
        {{ story.pk }}
        {% if prev_part %}
            <p>{{ prev_part.text|slice:"100:" }}</p>
        {% else %}
            <p>Вы первый, кто пишет эту историю!</p>
        {% endif %}
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    {% else %}
        <p><a href="{% url 'register' %}">Зарегайтесь</a> или <a href="{% url 'login' %}">войдите</a>, чтоб страдать херней</p>
    {% endif %}
</body>
</html>
